<%- include('partials/header') %>

<div class="page-margins">

    <div class="section-margins">
        <% parents.forEach ((parent) => { %>
            <p class="lili-title"><%= parent.text; %></p>
            <% }); %>

        <form action="/createItem" method="post" class="maininput">
            <input type="text" name="itemtext" autocomplete="off" autofocus>
            <div = class="flex-center menu-buttons-margin">
                <button title="add" type="submit">
                    <img class="icon" src="resources/lili-plus.svg">
                </button>
        </form>

                <% if(items.length > 0) { %>
                <form onsubmit="return false">
                    <button id="goto-btn" title="go to" type="submit">
                        <img class="icon" src="resources/lili-dropdown.svg">
                    </button>
                </form>
                <% } %>

                <% if(parents.length > 0) { %>
                    <form action="/setAsCurrentid" method="post">
                        <button title="go out" name="itemid" value="<%= parents.slice(-1)[0].parentid; %>" type="submit">
                            <img class="icon" src="resources/lili-out.svg">
                        </button>
                    </form>
                <% } %>
            </div>
            
            <div id="goto-menu" class="script-display-none">
                <form class="gotoadress" action="/setAsCurrentid" method="post">
                    <button name="itemid" value="<%= liliid %>"><p></p></button>
                </form>
                <% items.forEach ((item) => { %>
                    <form class="gotoadress" action="/setAsCurrentid" method="post">
                        <button name="itemid" value="<%= item._id; %>"><p><%= item.text; %></p></button>
                    </form>
                <% }); %>
            </div>
            
            <div>
            <% currentItems.forEach ((currentItem) => { %>
                <form action="/updateItemText" method="post">
                    <textarea class="script-items-btns-toggle" name="itemtext" placeholder="lili" autocomplete="off"><%= currentItem.text; %></textarea>
                    <div class="flex-center lili-buttons-margin script-display-none script-hide">
                        <button title="update" type="submit" name="itemid" value="<%= currentItem._id; %>">
                            <img class="icon" src="resources/lili-checkmark.svg">
                        </button>
                </form>
                        <form action="/setAsCurrentid" method="post">
                            <button title="go in" type="submit" name="itemid" value="<%= currentItem._id; %>">
                                <img class="icon" src="resources/lili-in.svg">
                            </button>
                        </form>
                        <form action="/toLimbo" method="post">
                            <button title="take to limbo" type="submit" name="itemid" value="<%= currentItem._id; %>">
                                <img class="icon" src="resources/lili-select.svg">
                            </button>
                        </form>
                        <form action="/deleteItem" method="post" onsubmit="return confirmForm();">
                            <button title="delete" type="submit" name="itemid" value="<%= currentItem._id; %>">
                                <img class="icon" src="resources/lili-minus.svg">
                            </button>
                        </form>
                    </div>
            <% }); %>
            </div>
    </div>

    <div class="section-margins">
    <% if (limboItems.length > 0) { %>
        <p class="limbo-title">Limbo</p>
        <div class="limbo">
        <% limboItems.forEach ((limboItem) => { %>
            <div class="flex-space-between limbo-item">
                <p>
                    <%= limboItem.text; %>
                </p>
                <div class="flex-center">
                    <form action="/fromLimbo" method="post">
                        <button title="put in lili" type="submit" name="itemid" value="<%= limboItem._id; %>">
                            <img class="icon" src="resources/lili-select.svg">
                        </button>
                    </form>
                    <form action="/deleteItem" method="post" onsubmit="return confirmForm();">
                        <button title="delete" type="submit" name="itemid" value="<%= limboItem._id; %>">
                            <img class="icon" src="resources/lili-minus.svg">
                        </button>
                    </form>
                </div>
            </div>
        <% }); %>
        </div>
    <% } %>
    </div>
</div>

<%- include('partials/footer') %>
   